@using TrabajoFinalEstructuraDeDatos.Enums;

@model TrabajoFinalEstructuraDeDatos.Models.Tarea

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1 class="mt-4">Agregar Tarea</h1>
    <h4>Tarea</h4>
    <hr />

    <div class="row mt-3">
        <div class="col-md-6">
            <form asp-action="AddTaskIndex">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input name="Id" asp-for="Id" value="@Model.Id" hidden/>
                <div class="form-group mb-2">
                    <input asp-for="Titulo" class="form-control" placeholder="Titulo" required />
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <textarea asp-for="Descripcion" class="form-control" placeholder="Descripcion" required></textarea>
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label>@Html.DisplayNameFor(n => n.Prioridad)</label>
                    <select name="Prioridad" asp-items="@Html.GetEnumSelectList(typeof(Priority))" class="form-select"></select>                  
                    <span asp-validation-for="Prioridad" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label>@Html.DisplayNameFor(n => n.Categoria)</label>
                    <select name="Categoria" asp-items="@Html.GetEnumSelectList(typeof(Category))" class="form-select"></select>
                    <span asp-validation-for="Prioridad" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="FechaFinal"></label>
                    <input asp-for="FechaFinal" class="form-control" type="date" required placeholder="Date"/>
                    <span asp-validation-for="Prioridad" class="text-danger"></span>
                </div>
                <div class="form-group mb-2" id="btn-add">
                    <input type="submit" value="Create" class="btn btn-sm" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Regresar</a>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
